@mixin toaster {
  border-radius: 4px !important;
  height: 40px !important;
  min-height: 0 !important;
  width: 360px !important;
  text-align: left !important;
  padding-left: 16px !important;
}

.toast-container {
  width: 360px !important;

  .toast-wrapper {
    display: flex;
    align-items: center;
  }

  .toast-message {
    margin-left: 15px;
  }

  .toaster--success {
    @include toaster;
    background: #56c568 !important;
  }

  .toaster--error {
    @include toaster;
    background: #d94b5d !important;
  }

  .toaster--warning {
    @include toaster;
    background: #f5bf52 !important;
  }

  .Toastify__toast {
    height: auto !important;
    display: flex;
    align-items: center;

    @media (max-width: 480px) {
      width: 100% !important;
      border-radius: 0 !important;
    }
  }

  @media (max-width: 480px) {
    width: 100% !important;
  }
}
