.book__content {
  max-width: 768px;
  margin: 50px auto;
}

.book__view-content {
  max-width: 608px;
  margin: 50px auto;
}

.book__form-content {
  margin-bottom: 40px;
}

.book__see-profile-button {
  display: inline-flex;
  justify-content: flex-end;
  width: 100%;
  // padding-right: 66px;
  box-sizing: border-box;
  margin-top: 56px;
}

.books__button {
  display: flex;
  justify-content: center;

  button {
    margin-left: 24px;
  }
}

.book__photos-gallery {
  white-space: nowrap;
  overflow: scroll;
  padding: 16px 0 10px 0;
}

.book__photos-gallery-photo {
  width: 180px;
  height: 180px;
  display: inline-block;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.book__rate {
  display: inline-flex;
  margin: 10px 0;
  align-items: center;
}

.book__location-data {
  font-size: 14px;
  margin: 8px 0;
  display: flex;
  align-items: center;
  span {
    margin-left: 15px;
    color: #0095df;
  }
}

.book__location {
  height: 144px;
  margin: 40px 0 26px;
}

.book__images-carousel {
  margin: 40px 0;
}
