/* overpass-100 - latin */
@font-face {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 100;
  src: url("/assets/fonts/overpass-v4-latin-100.eot"); /* IE9 Compat Modes */
  src: local("Overpass Thin"), local("Overpass-Thin"),
    url("/assets/fonts/overpass-v4-latin-100.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/overpass-v4-latin-100.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/assets/fonts/overpass-v4-latin-100.woff") format("woff"),
    /* Modern Browsers */ url("/assets/fonts/overpass-v4-latin-100.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("/assets/fonts/overpass-v4-latin-100.svg#Overpass") format("svg"); /* Legacy iOS */
}
/* overpass-100italic - latin */
@font-face {
  font-family: "Overpass";
  font-style: italic;
  font-weight: 100;
  src: url("/assets/fonts/overpass-v4-latin-100italic.eot"); /* IE9 Compat Modes */
  src: local("Overpass Thin Italic"), local("Overpass-ThinItalic"),
    url("/assets/fonts/overpass-v4-latin-100italic.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/overpass-v4-latin-100italic.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/assets/fonts/overpass-v4-latin-100italic.woff") format("woff"),
    /* Modern Browsers */ url("/assets/fonts/overpass-v4-latin-100italic.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("/assets/fonts/overpass-v4-latin-100italic.svg#Overpass") format("svg"); /* Legacy iOS */
}
/* overpass-200italic - latin */
@font-face {
  font-family: "Overpass";
  font-style: italic;
  font-weight: 200;
  src: url("/assets/fonts/overpass-v4-latin-200italic.eot"); /* IE9 Compat Modes */
  src: local("Overpass ExtraLight Italic"), local("Overpass-ExtraLightItalic"),
    url("/assets/fonts/overpass-v4-latin-200italic.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/overpass-v4-latin-200italic.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/assets/fonts/overpass-v4-latin-200italic.woff") format("woff"),
    /* Modern Browsers */ url("/assets/fonts/overpass-v4-latin-200italic.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("/assets/fonts/overpass-v4-latin-200italic.svg#Overpass") format("svg"); /* Legacy iOS */
}
/* overpass-200 - latin */
@font-face {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 200;
  src: url("/assets/fonts/overpass-v4-latin-200.eot"); /* IE9 Compat Modes */
  src: local("Overpass ExtraLight"), local("Overpass-ExtraLight"),
    url("/assets/fonts/overpass-v4-latin-200.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/overpass-v4-latin-200.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/assets/fonts/overpass-v4-latin-200.woff") format("woff"),
    /* Modern Browsers */ url("/assets/fonts/overpass-v4-latin-200.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("/assets/fonts/overpass-v4-latin-200.svg#Overpass") format("svg"); /* Legacy iOS */
}
/* overpass-300 - latin */
@font-face {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 300;
  src: url("/assets/fonts/overpass-v4-latin-300.eot"); /* IE9 Compat Modes */
  src: local("Overpass Light"), local("Overpass-Light"),
    url("/assets/fonts/overpass-v4-latin-300.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/overpass-v4-latin-300.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/assets/fonts/overpass-v4-latin-300.woff") format("woff"),
    /* Modern Browsers */ url("/assets/fonts/overpass-v4-latin-300.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("/assets/fonts/overpass-v4-latin-300.svg#Overpass") format("svg"); /* Legacy iOS */
}
/* overpass-regular - latin */
@font-face {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/overpass-v4-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Overpass Regular"), local("Overpass-Regular"),
    url("/assets/fonts/overpass-v4-latin-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/overpass-v4-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/assets/fonts/overpass-v4-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("/assets/fonts/overpass-v4-latin-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("/assets/fonts/overpass-v4-latin-regular.svg#Overpass") format("svg"); /* Legacy iOS */
}
/* overpass-300italic - latin */
@font-face {
  font-family: "Overpass";
  font-style: italic;
  font-weight: 300;
  src: url("/assets/fonts/overpass-v4-latin-300italic.eot"); /* IE9 Compat Modes */
  src: local("Overpass Light Italic"), local("Overpass-LightItalic"),
    url("/assets/fonts/overpass-v4-latin-300italic.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/overpass-v4-latin-300italic.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/assets/fonts/overpass-v4-latin-300italic.woff") format("woff"),
    /* Modern Browsers */ url("/assets/fonts/overpass-v4-latin-300italic.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("/assets/fonts/overpass-v4-latin-300italic.svg#Overpass") format("svg"); /* Legacy iOS */
}
/* overpass-600 - latin */
@font-face {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/overpass-v4-latin-600.eot"); /* IE9 Compat Modes */
  src: local("Overpass SemiBold"), local("Overpass-SemiBold"),
    url("/assets/fonts/overpass-v4-latin-600.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/overpass-v4-latin-600.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/assets/fonts/overpass-v4-latin-600.woff") format("woff"),
    /* Modern Browsers */ url("/assets/fonts/overpass-v4-latin-600.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("/assets/fonts/overpass-v4-latin-600.svg#Overpass") format("svg"); /* Legacy iOS */
}
/* overpass-italic - latin */
@font-face {
  font-family: "Overpass";
  font-style: italic;
  font-weight: 400;
  src: url("/assets/fonts/overpass-v4-latin-italic.eot"); /* IE9 Compat Modes */
  src: local("Overpass Italic"), local("Overpass-Italic"),
    url("/assets/fonts/overpass-v4-latin-italic.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/overpass-v4-latin-italic.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/assets/fonts/overpass-v4-latin-italic.woff") format("woff"),
    /* Modern Browsers */ url("/assets/fonts/overpass-v4-latin-italic.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("/assets/fonts/overpass-v4-latin-italic.svg#Overpass") format("svg"); /* Legacy iOS */
}
/* overpass-600italic - latin */
@font-face {
  font-family: "Overpass";
  font-style: italic;
  font-weight: 600;
  src: url("/assets/fonts/overpass-v4-latin-600italic.eot"); /* IE9 Compat Modes */
  src: local("Overpass SemiBold Italic"), local("Overpass-SemiBoldItalic"),
    url("/assets/fonts/overpass-v4-latin-600italic.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/overpass-v4-latin-600italic.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/assets/fonts/overpass-v4-latin-600italic.woff") format("woff"),
    /* Modern Browsers */ url("/assets/fonts/overpass-v4-latin-600italic.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("/assets/fonts/overpass-v4-latin-600italic.svg#Overpass") format("svg"); /* Legacy iOS */
}
/* overpass-700 - latin */
@font-face {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/overpass-v4-latin-700.eot"); /* IE9 Compat Modes */
  src: local("Overpass Bold"), local("Overpass-Bold"),
    url("/assets/fonts/overpass-v4-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/overpass-v4-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/assets/fonts/overpass-v4-latin-700.woff") format("woff"),
    /* Modern Browsers */ url("/assets/fonts/overpass-v4-latin-700.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("/assets/fonts/overpass-v4-latin-700.svg#Overpass") format("svg"); /* Legacy iOS */
}
/* overpass-700italic - latin */
@font-face {
  font-family: "Overpass";
  font-style: italic;
  font-weight: 700;
  src: url("/assets/fonts/overpass-v4-latin-700italic.eot"); /* IE9 Compat Modes */
  src: local("Overpass Bold Italic"), local("Overpass-BoldItalic"),
    url("/assets/fonts/overpass-v4-latin-700italic.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/overpass-v4-latin-700italic.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/assets/fonts/overpass-v4-latin-700italic.woff") format("woff"),
    /* Modern Browsers */ url("/assets/fonts/overpass-v4-latin-700italic.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("/assets/fonts/overpass-v4-latin-700italic.svg#Overpass") format("svg"); /* Legacy iOS */
}
/* overpass-800 - latin */
@font-face {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 800;
  src: url("/assets/fonts/overpass-v4-latin-800.eot"); /* IE9 Compat Modes */
  src: local("Overpass ExtraBold"), local("Overpass-ExtraBold"),
    url("/assets/fonts/overpass-v4-latin-800.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/overpass-v4-latin-800.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/assets/fonts/overpass-v4-latin-800.woff") format("woff"),
    /* Modern Browsers */ url("/assets/fonts/overpass-v4-latin-800.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("/assets/fonts/overpass-v4-latin-800.svg#Overpass") format("svg"); /* Legacy iOS */
}
/* overpass-800italic - latin */
@font-face {
  font-family: "Overpass";
  font-style: italic;
  font-weight: 800;
  src: url("/assets/fonts/overpass-v4-latin-800italic.eot"); /* IE9 Compat Modes */
  src: local("Overpass ExtraBold Italic"), local("Overpass-ExtraBoldItalic"),
    url("/assets/fonts/overpass-v4-latin-800italic.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/overpass-v4-latin-800italic.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/assets/fonts/overpass-v4-latin-800italic.woff") format("woff"),
    /* Modern Browsers */ url("/assets/fonts/overpass-v4-latin-800italic.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("/assets/fonts/overpass-v4-latin-800italic.svg#Overpass") format("svg"); /* Legacy iOS */
}
/* overpass-900 - latin */
@font-face {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 900;
  src: url("/assets/fonts/overpass-v4-latin-900.eot"); /* IE9 Compat Modes */
  src: local("Overpass Black"), local("Overpass-Black"),
    url("/assets/fonts/overpass-v4-latin-900.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/overpass-v4-latin-900.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/assets/fonts/overpass-v4-latin-900.woff") format("woff"),
    /* Modern Browsers */ url("/assets/fonts/overpass-v4-latin-900.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("/assets/fonts/overpass-v4-latin-900.svg#Overpass") format("svg"); /* Legacy iOS */
}
/* overpass-900italic - latin */
@font-face {
  font-family: "Overpass";
  font-style: italic;
  font-weight: 900;
  src: url("/assets/fonts/overpass-v4-latin-900italic.eot"); /* IE9 Compat Modes */
  src: local("Overpass Black Italic"), local("Overpass-BlackItalic"),
    url("/assets/fonts/overpass-v4-latin-900italic.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/overpass-v4-latin-900italic.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/assets/fonts/overpass-v4-latin-900italic.woff") format("woff"),
    /* Modern Browsers */ url("/assets/fonts/overpass-v4-latin-900italic.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("/assets/fonts/overpass-v4-latin-900italic.svg#Overpass") format("svg"); /* Legacy iOS */
}
