@import '_fonts';
@import '_slick';
@import '_slick-theme';

body {
  font-family: 'Overpass', sans-serif;
  font-weight: 300;
  color: #001f2c;
}

.normalized-button {
  border: 0;
  background-color: transparent;
  line-height: 0;
  outline: 0;
  padding: 0;
}

.pages-title-h2 {
  color: #0095df;
  font-size: 24px;
  margin: 5px 0;
}

.pages-title-h2--black {
  color: #001f2c;
}

.pages-title-h3 {
  color: #000;
  font-size: 24px;
}

.pages-title-h3--thinner {
  margin: 5px 0;
  line-height: 1;
}

.pages-title-h4 {
  font-size: 14px;
  color: #828c90;
  font-weight: normal;
  margin: 0;
}
