.overlay-content {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(#fff, $alpha: 0.7);
}

.wrapper {
  align-items: center;
  flex-direction: column;
  display: inline-flex;

  .message {
    font-family: "Overpass";
  }
}
