.default-table {
  margin: 40px 20px 0;
}

.default-table .select-all {
  margin: 20px 0;
}

.default-table__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    margin-left: 15px;
  }
}

.default-table__action-wrapper {
  display: inline-flex;
}

.default-table__right-content {
  display: inline-flex;
  align-items: center;
}

.default-table__actions--flex-end {
  justify-content: flex-end;
}
